* {
    padding: 0px;
    margin: 0px;
}

.Center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logo {
    margin-bottom: 3vh;
}

.Main {
    background-image: linear-gradient(to right, rgb(13, 68, 150), rgb(138, 90, 138));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    color: white;
}

.Text {
    margin-bottom: 3vh;
}

@media (min-width: 751px) and (min-height: 301px) and (min-width: 301px) {
    .N_min {
        display: none;
    }

    .Main {
        width: 35vw;
        height: 30vh;
    }

    .Text {
        width: 50%;
    }
}

@media (max-width: 750px) and (min-height: 301px) and (min-width: 301px) {
    .N_min {
        display: none;
    }

    .Main {
        width: 90vw;
        height: 35vh;
    }

    .Text {
        width: 75%;
        height: 30px;
    }
}

@media (max-width: 300px) or (max-height: 300px) {
    * {
        padding: 0px;
        margin: 0px;
    }

    .Center,
    .Logo,
    .Main,
    .Text,
    .Button {
        display: none;
    }

    .N_min {
        width: 100vw;
        height: 100vh;
        background-color: black;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
    }
}